 <div class="row">
    <div class="col-md-12" ng-show="toiles.length > 0">
		<nav class= "navbar navbar-default" role="navigation" >
			<div class= "navbar-header" >
			<a class="btn btn-lg btn-success" href="#/edit-toile/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter une Nouvelle Toile</a>
			</div>
		</nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Titre&nbsp;</th>
        <th>path&nbsp;</th>
        <th>path_thumb&nbsp;</th>
        <th>hauteur&nbsp;</th>
        <th>largeur&nbsp;</th>
        <th>taux vibratoire&nbsp;</th>
        <th>prix&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in toiles">
                <td>{{data.titre}}</td>
                <td>{{data.path}}</td>
                <td><img ng-src="{{ '../' + data.path_thumb }}" /></td>
                <td>{{data.hauteur}}</td>
                <td>{{data.largeur}}</td>
                <td>{{data.tx_vibratoire}}</td>
                <td>{{data.prix}}</td>
                <td><a href="#/edit-toile/{{data.idToile}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Modifier</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="toiles.length == 0">
        <div class="col-md-12">
            <h4>No customers found</h4>
        </div>
    </div>
</div>