td legend {
    background-color: #CC00FF;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #888;
    color: white;
    left: 10px;
    padding: 6px 12px;
    text-shadow: 1px 1px 1px #333;
}

.row form {
}